body{
    background-color: cyan;
}

p{
    color: brown;
}
#container{
    background-color: white;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
}
#mijninteractie{
    padding: 10;
}